
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(../public/assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins-ExtraLight", Arial, Helvetica, sans-serif;
}
