
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(../public/assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}


body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins-ExtraLight", Arial, Helvetica, sans-serif;
    
}

#test{
    max-height: 100vh;
    overflow: auto;
    background-image: url('../public/assets/img/DSC_0291.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}







