.banniere {
    background: rgb(22,22,22);
    background: linear-gradient(142deg, rgba(22,22,22,1) 0%, rgba(205,200,200,1) 25%);
    height: 20vh;
}

.svgfooter {
    width:100%;
    height: 50%;
    float: top;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.mailfooter {
    width:100%;
    height: 10%;
}

.mail {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 0%;
}


.termfooter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    border-top: solid 0.5px black;
    align-items: center;
}

.terme {
    font-size: xx-small;
}

.icon {
    height: 3rem;
    width: 3rem;
}

a svg:hover #facebook,
a svg:hover #instagram,
a svg:hover #soundcloud,
a svg:hover #youtube { 
  fill: #111;
}

a svg:hover #facebook,
a svg:hover #instagram,
a svg:hover #soundcloud,
a svg:hover #youtube { 
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.mail:hover {
    color: white;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}