@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(../../public/assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}
/* ---------------- Navbar and burger menu ------------------ */
nav {
    height: 5em;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.burger-menu {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.burger-bar {
    width: 2em;
    height: 10%;
    background-color: white;
    z-index:1000;
    position: relative;
}

.menu {
    width: 20vh;
    height: 100vh;
    background-color:rgb(105, 105, 105);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.navbar {
    font-family: "Poppins-ExtraLight", Arial, Helvetica, sans-serif;
}
/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navlink {
    padding: 1.5rem;
}

.navlinks {
    text-decoration: none;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: white;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(1.45em, 1.75em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.0);
    transition: ease-in-out;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(0em, 0.5em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}