.container {
  background-color:rgb(105, 105, 105);
}

h3 {
  text-align: center;
  margin: 0;
  font-size: 2em;
  padding-top: 2rem;
}

p {
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
}

.btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  border: solide;
  padding: 1rem;
}

.btn:hover {
  color: white;
  transition: ease-in-out 0.5s;
}

/* -------------------------------------div trans---------------------------------- */
 
.divtrans {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

