@font-face {
    font-family:"Poppins-Medium";
    src: url(../../public/assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Poppins-Thin";
    src: url(../../public/assets/fonts/Poppins/Poppins-Thin.ttf);
}
/* -------------------------------------------- Div general gestion des emplacements --------------------------------------- */
.cover{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#9a9b9dcf, #e8e8efd0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logingmock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid black 0.5px;
    background: linear-gradient(#6c6e709e, #3d3d3ed0);
    height: 50vh;
    width: 30vh;
    border-radius: 10px;

padding:0 50px;
}

.logingmock:hover {
    box-shadow: 0 0 11px rgba(140, 141, 213, 0.826);
}

.logingmock input{
    background: transparent;
    border: none;
    border-bottom:solid 1px black;
    padding:5px;
    font-size:1.3rem;
    color:black;
    font-family: "Poppins-Thin",Arial, Helvetica, sans-serif;
}

.logingmock ::placeholder{
    font-size:1.3rem;
    color:black;
    font-family: "Poppins-Thin",Arial, Helvetica, sans-serif;
}

.logingmock .error {
    color: red;
  }

/* ---------------------------------------------- Gestion des styles ------------------------------------------------------- */
.logintitle {
    margin-top: 0;
    font-size: xx-large;
    text-transform: uppercase;
    font-family: "Poppins-Medium",Arial, Helvetica, sans-serif;
}

.btnloging {
    width: 100px;
    margin-top: 20px;
    padding: 5px;
    border: none;
    background: linear-gradient( #e8e8efd0, #9a9b9dcf);
    border-radius: 10px;
    font-family: "Poppins-Thin",Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    cursor: pointer;
}


.btnloging:hover {
    color: white;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    
    
}

.userlog {
    margin-bottom: 10px;
}