@font-face {
    font-family:"Poppins-Bold" ;
    src: url(../../public/assets/fonts/Poppins/Poppins-Bold.ttf);
}

/* -------------- principale page ---------------------- */
.stagepage {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#0c0c0c,#424141ee );
}

/* ------------------ Css titre en bar menu ---------------- */
.stagenavtitle {
    font-family: "Poppins-Bold",Arial, Helvetica, sans-serif;
}

.stagepagetitle {
    color: white;
    margin: 0;
    font-size: 10vh;
}

.stageintroduce {
    display: flex;
    justify-content: space-evenly;
    gap: 10vh; 
}

/* ------------------------- Css des div stages ------------ */
.stagepresentation {
    width: 50vh;
    height: 70vh;
    font-size: 1rem;
    border: solid blue 0.5px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    background-image: url(../../public/assets/img/night-g9161762f3_640.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.stagepresentation:hover {
    box-shadow: 0 0 11px rgba(140, 141, 213, 0.826);
    transform: scale(1.05);
}

.stagetitle {
    color: white;
    cursor: pointer;
}

.stagetitle:hover {
    color: blue;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

.idstage {
    font-size: 0.8rem;
    color: white;
}

/* ----------------------- responsive media query ---------- */
@media screen and (max-width: 1110px) {
    .stagepagetitle {
        display: flex;
        justify-content: center;
        color: white;
        margin: 0;
        padding: 0;
        font-size: 10vh;
    }

    .stageintroduce {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
        
    }

    .stagepresentation {
        width: 30vh;
        height: 30vh;
        border: solid blue;
        font-size: 0.5rem;
    }

}
    
/* ---------------- stage Buton -------------------------- */

.link-stage {
    text-decoration: none;
    color: white;
}

.link-stage:hover {
    color: blue;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}


